* {

    /* set to default */
    font-size: 102%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* delete calculation of width */
    font-family: Verdana, Geneva, sans-serif;
    
 }

img {

    max-width: 100%;

}

header {

    background-image: url(img/notebook_part1.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    height: 400px;

}

header nav {

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

}

header nav ul {

    display: block;
    justify-content: flex-start;
    list-style-type: none;

}

header nav li {

    font-size: 150%;
    width: 100%;
    padding: 0.625em; /* 1.041666666666667% */
    text-transform: uppercase;
    text-align: center;

}

header nav ul li a{

    text-decoration: none;

}

header nav ul li a:visited {

    color: black;

}

/* header nav li a:hover {} */

header nav ul li a:hover {

    color: rgb(153, 153, 153);

}

.bwRow {

    margin: 1.041666666666667% 10.416666666667%;

}

.bwRow img {

    margin: 1.041666666666667% 0;

}

.bwColumn {

    float:none;
    width: 100%;
    padding: 1.041666666666667% 1.041666666666667%;
    text-align: center;
}

.bwColumn h2 {
    padding: 1.041666666666667%;
    text-transform: uppercase;
}

.bwColumn img {

    border-radius: 50%;

}

.bwStandardArticle {

    margin: 1.041666666666667% 10.416666666667%;

}

.bwFooter {

    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 1.041666666666667%;
    background-color: rgba(217, 217, 217, 0.1);
    text-align: center;

}

@media all and (min-width: 768px)  {

    header nav ul {

        display: flex;

    }

    header nav ul li {

        width: 12.5%;

    }

    .bwFooter img {

    width: 3.333333333333%;
    height: 3.333333333333%;

}
}

@media all and (min-width: 1080px) {

    .bwColumn {

        float: left;
        width: 50%;

    }

}