* {

    /* set to default */
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* delete calculation of width */
    
 }

img {

    max-width: 100%;

}

header {

    background-image: url(img/codingSmall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;

}

header nav {

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}

header nav ul {

    display: flex;
    justify-content: flex-start;
    list-style-type: none;

}

header nav li {

    font-size: 150%;
    width: 12.5%;
    padding: 0.625em; /* 1.041666666666667% */
    text-transform: uppercase;
    text-align: center;

}

header nav ul li a{

    text-decoration: none;

}

header nav ul li a:visited {

    color: black;

}

/* header nav li a:hover {} */

header nav ul li a:hover {

    color: rgb(153, 153, 153);

}

.row {

    margin: 1.041666666666667% 10.416666666667%;

}

.row img {

    margin: 1.041666666666667% 0;

}

.column {

    float:left;
    width: 50%;
    padding: 0 1.041666666666667%;
    text-align: center;
}

.column h2 {
    padding: 1.041666666666667%;
    text-transform: uppercase;
}

.column img {

    border-radius: 50%;

}

.skillList {

    list-style-type: none;

}

.standardArticle {

    margin: 1.041666666666667% 10.416666666667%;

}

.bwFooter {

    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 1.041666666666667%;
    background-color: rgba(217, 217, 217, 0.1);
    text-align: center;

}

/* Mobile first! -> min-width */
@media all and (max-width: 640px) {

    header nav ul {

        display: block;

    }

    header nav ul li {

        width: 100%;

    }
}

/* Mobile first! -> min-width */
@media all and (max-width: 1080px) {

    .column {

        float: none;
        width: 100%;

    }

}