* {  
    box-sizing: border-box; /* delete calculation of width */
    font-family: 'Open Sans Condensed', sans-serif;  
 }

 body {
     text-align: justify;
     font-size: 1.5em;
 }

img {
    max-width: 100%;
}

header nav {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

header nav ul {
    display: block;
    justify-content: flex-start;
    list-style-type: none;
}

header nav li {
    font-size: 1.5em; /* 24px / 16px(100%) */
    letter-spacing: 0.05em;
    font-weight: bold;
    width: 100%;
    padding: 0.625em; /* 1.041666666666667% */
    text-transform: uppercase;
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:visited {
    color: black;
}

header nav ul li a:hover {
    color: rgb(153, 153, 153);
}

.bwRow {
    padding: 1.041666666666667% 10.416666666667%;
    overflow: hidden;
    background-color: rgba(70,130,180, 1);
}

.bwColumn {
    float: none;
    width: 100%;
    padding: 1.041666666666667% 1.041666666666667%;
    text-align: left;
}

.bwColumn h2 {
    font-size: 1.2em;
    padding: 0 0 1.041666666666667%;
    font-weight: bold;
    text-transform: uppercase;
}

.bwStandardTextblock {
    margin: 1.041666666666667% 10.416666666667%;
}

.bwContact {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 1.041666666666667%;
    text-align: center;
}

.bwContact img {
    width: 10%;
    height: 10%;
}

@media all and (min-width: 768px)  {

    .bwContact img {
        width: 3.5%;
        height: 3.5%;
    }
}

@media all and (min-width: 1080px) {

    main {
        padding: 0 10% 0 10%;
    }

    header nav ul li {
        width: 12.5%;
    }

    header nav ul {
        display: flex;
    }

    .bwRow {
        margin-bottom: 3%;
    }

    .bwColumn {
        float: left;
        width: 33%;
    }

    .bwContact {
        border-top: 1px dotted rgba(0, 0, 0, 0.2);
    }

}